<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property>
    <name>fs.s3.impl</name>
    <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
  </property>
  <property>
    <name>fs.s3.endpoint</name>
    <value>${OBJECT_STORE_ENDPOINT}</value>
  </property>
  <property>
    <name>fs.s3.path.style.access</name>
    <value>${OBJECT_STORE_PATH_STYLE_ACCESS}</value>
  </property>
  <property>
    <name>fs.s3.connection.ssl.enabled</name>
    <value>${OBJECT_STORE_SSL_ENABLED}</value>
  </property>
  <property>
    <name>fs.s3.aws.credentials.provider</name>
    <value>org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider</value>
  </property>
  <property>
    <name>fs.s3.access.key</name>
    <value>${OBJECT_STORE_ACCESS_KEY}</value>
  </property>
  <property>
    <name>fs.s3.secret.key</name>
    <value>${OBJECT_STORE_SECRET_KEY}</value>
  </property>
  <property>
    <name>fs.s3.signing-algorithm</name>
    <value>AWSS3V4SignerType</value>
  </property>
  <property>
    <name>fs.s3.connection.maximum</name>
    <value>500</value>
  </property>
  <property>
    <name>fs.s3a.impl</name>
    <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
  </property>
  <property>
    <name>fs.s3a.endpoint</name>
    <value>${OBJECT_STORE_ENDPOINT}</value>
  </property>
  <property>
    <name>fs.s3a.path.style.access</name>
    <value>${OBJECT_STORE_PATH_STYLE_ACCESS}</value>
  </property>
  <property>
    <name>fs.s3a.connection.ssl.enabled</name>
    <value>${OBJECT_STORE_SSL_ENABLED}</value>
  </property>
  <property>
    <name>fs.s3a.aws.credentials.provider</name>
    <value>org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider</value>
  </property>
  <property>
    <name>fs.s3a.access.key</name>
    <value>${OBJECT_STORE_ACCESS_KEY}</value>
  </property>
  <property>
    <name>fs.s3a.secret.key</name>
    <value>${OBJECT_STORE_SECRET_KEY}</value>
  </property>
  <property>
    <name>fs.s3a.signing-algorithm</name>
    <value>AWSS3V4SignerType</value>
  </property>
  <property>
    <name>fs.s3a.connection.maximum</name>
    <value>500</value>
  </property>
</configuration>
