COMPOSE_PROJECT_NAME=log-streaming-platform

# Airflow
FERNET_KEY=replace_with_generated_fernet_key
AIRFLOW__API_AUTH__JWT_SECRET=replace_with_strong_jwt_secret
AIRFLOW__API_AUTH__JWT_ISSUER=airflow
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=change-me

# Kafka
KAFKA_EXTERNAL_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost:9092,localhost:9093,localhost:9094
KAFKA_BOOTSTRAP_SERVERS_DOCKER=broker1:29092,broker2:29092,broker3:29092
KAFKA_TOPIC_RAW=mooc.raw.events

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=change-me
MINIO_REGION=us-east-1
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_CHECKPOINTS=checkpoints
MINIO_BUCKET_SPARK_EVENTS=spark-events

# Spark
SPARK_MASTER_URL=spark://spark-master:7077
SPARK_WORKER_MEMORY=1g
SPARK_WORKER_CORES=1
SPARK_DRIVER_MEMORY=512m
SPARK_EXECUTOR_MEMORY=768m
SPARK_JARS_PACKAGES=io.delta:delta-spark_2.12:3.2.0,org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.1,org.apache.hadoop:hadoop-aws:3.3.4,com.amazonaws:aws-java-sdk-bundle:1.12.262

# Container limits
KAFKA_HEAP_OPTS=-Xms256m -Xmx384m
KAFKA_BROKER1_MEM_LIMIT=650m
KAFKA_BROKER_MEM_LIMIT=650m
KAFKA_INIT_MEM_LIMIT=256m
KAFKA_UI_MEM_LIMIT=300m
MINIO_MEM_LIMIT=512m
MINIO_INIT_MEM_LIMIT=192m
SPARK_MASTER_MEM_LIMIT=512m
SPARK_WORKER_MEM_LIMIT=1400m
SPARK_HISTORY_MEM_LIMIT=512m
SPARK_STREAM_DRIVER_MEM_LIMIT=768m
AIRFLOW_INIT_MEM_LIMIT=256m
AIRFLOW_MEM_LIMIT=1024m

# Bronze
BRONZE_TABLE_PATH=s3a://bronze/mooc/bronze/mooc_events_raw
BRONZE_CHECKPOINT_PATH=s3a://checkpoints/mooc/bronze_ingestor
BRONZE_CHECKPOINT_PREFIX=mooc/bronze_ingestor/offsets/
BRONZE_OPTIMIZE_ENABLED=true
BRONZE_VACUUM_ENABLED=false
BRONZE_VACUUM_RETENTION_HOURS=168
