COMPOSE_PROJECT_NAME=log-streaming-platform

# Kafka (host access)
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost:9092,localhost:9093,localhost:9094
KAFKA_BOOTSTRAP_SERVERS_DOCKER=broker1:29092

# MinIO
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123456
MINIO_REGION=us-east-1
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver

# Airflow (local dev)
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor

# Trino
TRINO_USER=trino

